body {
    font-family: sans-serif;
}

pre {
    background-color: #EEE;
    margin-left: 20px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0.5em;
}
#output-error {
    background-color: #ECC;
}

form, .block {
    margin-left: 20px;
    border: 1px solid black;
    padding: 20px;
    max-width: 300px;
    line-height: 2em;
    margin-bottom: 25px;
}

input[type=submit], input[type=reset] {
    width: auto;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 5px;
}
