version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/node:10.24

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package-lock.json" }}

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      - run:
          name: "Build"
          command: npm run build

      - run:
          name: "Await build slot"
          command: node_modules/.bin/circle-wait

      - run:
          name: "Encryption E2E tests: npm run test:e2e"
          command: |
            if [ ! "${E2E_RSA_KEY:-}" ]; then echo E2E_RSA_KEY not set. Skipping... && exit 0; fi
            E2E_CIPHERTEXT_FILE=~/repo/cipher.txt npm run test:e2e

      - run:
          name: "Browser tests: npm run test:integration"
          command: |
            if [ "${E2E_RSA_KEY:-}" ]; then echo E2E_RSA_KEY set. Skipping... && exit 0; fi
            PARALLEL=5 npm run test:integration

      - run:
          name: "Release"
          command: |
            npm run release
            mkdir -p /tmp/release
            cp releases/*.tar.gz /tmp/release

      - store_test_results:
          path: ~/repo/reports/junit
      - store_artifacts:
          path: ~/repo/cipher.txt
      - store_artifacts:
          path: /tmp/release
