version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.11

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      # - restore_cache:
      #     keys:
      #     - v1-dependencies-{{ checksum "package.json" }}
      #     # fallback to using the latest cache if no exact match is found
      #     - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: "Build"
          command: npm run new

      # run tests!
      - run:
          name: "Unit Tests: npm test"
          command: npm test

      - run:
          name: "Await crossbrowsertesting.com build slot"
          command: node_modules/.bin/circle-wait

      - run:
          name: "Encryption E2E tests: npm run test-crossbrowser-e2e"
          command: |
            if [ ! "${E2E_RSA_KEY:-}" ]; then echo E2E_RSA_KEY not set. Skipping... && exit 0; fi
            npm run test-crossbrowser-e2e

      - run:
          name: "Cross-browser integration tests: npm run test-crossbrowser"
          command: |
            if [ "${E2E_RSA_KEY:-}" ]; then echo E2E_RSA_KEY set. Skipping... && exit 0; fi
            npm run test-crossbrowser

      - store_test_results:
          path: ~/repo/test/junit
      - store_artifacts:
          path: ~/repo/test/shots
      - store_artifacts:
          path: ~/repo/cipher.txt
      - store_artifacts:
          path: ~/repo/deviceid.txt
      - store_artifacts:
          path: ~/repo/sessionid.txt
